<div class="row">
  <div class="col-md-4 col-md-offset-4">
  <h2>Sign up</h2>
  <% unless resource.errors[:base].empty? %>
    <% resource.errors[:base].each do |error| %>
        <p class="bg-warning" style="padding: 15px;"><%= error %></p>
      <% end %>
    <% end %>

    <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), class: "center") do |f| %>

      <%= f.email_field :email, autofocus: true %>
      <%= f.fields_for :profile, resource.profile do |profile| %>
        <%= profile.text_field :username %>
        <%= profile.text_field :website %>
      <% end %>
      <%= f.password_field :password, autocomplete: "off", help: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)  %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
      <%= f.primary "Sign up" %>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>
