<div class="row">
  <div class="col-md-12">
    <h1>Create a Project</h1>
    <p>On this page you can create a new project and invite current users to join the project's team.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= bootstrap_form_for @project do |f| %>
      <%= f.hidden_field :user_id %>
      <%= f.text_field :title %>
      <%= f.text_area :description %>
      <div class="field_for">
        <h3>Invite friends to join the project</h3>
      </div>
      <%= f.text_field :emails_invited, placeholder: "amy@example.com, bob@example.com", label: "Enter the emails you want to invite", help: "List the emails of your friends separated by commas (e.g. amy@example.com, bob@example.com)" %>
      <%= f.primary "Create project" %>
    <% end %>
  </div>
</div>
