<div class="row">
  <div class="col-sm-offset-2 col-sm-10">
    <h3 class="project-titles"><%= @project.title %></h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-2 border-right">
    <ul class="project-details">
      <% if current_user.has_role? @project, :edit %>
        <%= render partial: 'project_details_admin', locals: { project: @project, team_members: @team_members } %>
      <% else %>
        <li>
          <%= link_to view_project_team_members_path do %>
            <span class="glyphicon glyphicon-user"></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-sm-10">
    <ul class="tasks-list">
      <% if current_user.has_role? @project, :edit %>
        <%= render partial: 'tasks_list_admin', collection: @project.tasks, as: :task %>
      <% else %>
        <%= render partial: 'tasks_list', collection: @project.tasks, as: :task %>
      <% end %>
      <li>
        <%= link_to new_project_task_path(@project) do %>
          <span class="glyphicon glyphicon-plus-sign"></span> Add Task
        <% end %>
      </li>
    </ul>
  </div>
</div>
